# Copier ce fichier en .env.development.local pour surcharger l'URL en local
# sans impacter le dépôt git (utile notamment pour tester sur téléphone physique
# via l'IP locale de votre machine, ex: http://192.168.1.23:5001/api)
REACT_APP_API_URL=http://127.0.0.1:5001/api
